.item-a {
    grid-area: header;
  }
  .item-b {
    grid-area: main;
  }
  .item-c {
    grid-area: sidebar;
  }
  .item-d {
    grid-area: footer;
  }
  
  .container {
    display: inline-grid;
    grid-template-columns: 190px 250px ;
    grid-template-rows: 350px 350px ;
    grid-template-areas: 
      "top1 top2"
      "bot1 bot2";

    column-gap: 300px;
  }

  .marketBox {
    width: 200%;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.marketBoxQueried {
  box-sizing: border-box;
  width: 100%;
  border: 5px solid gray;
  padding: 5px;
}

.containerWorkouts {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px ;
  grid-template-rows: auto ;
  column-gap: 10px;
  row-gap: 10px;

}

.titleWidthWorkouts {
  width: 180%;
}

.containerSchedule {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto ;
  column-gap: 140px;
  row-gap: 10px;
}

.title {
  text-align: center;
}

.alignAll {
  display: flex;
  justify-content: space-around;
}